{% extends "base.html" %}

{% block content %}
    <h2><a href="/admin" style="color: black">Admin</a></h2>
    <h2><a href="{% url 'create-student' %}" style="color: black">Create student</a></h2>
    <h2><a href="{% url 'all-students' %}" style="color: black">Show all students</a></h2>
    <h2><a href="{% url 'create-teacher' %}" style="color: black">Create teacher</a></h2>
    <h2><a href="{% url 'all-teachers' %}" style="color: black">Show all teachers</a></h2>
    <h2><a href="{% url 'all-groups' %}" style="color: black">Show all groups</a></h2>
    <h2><a href="{% url 'contact-us' %}" style="color: black">Contact Us</a></h2>
    <h2><a href="{% url 'currency-list' %}" style="color: black">Currency list</a></h2>
    {% if user.is_authenticated %}
        Hello, {{ user.username }}!
        <br/>
        <br/>
        <h4><a href="{% url 'logout' %}" style="color: darkslategray">Log Out</a></h4>
        <h4><a href="{% url 'password_change' %}" style="color: darkslategray">Change your password</a></h4>
    {% else %}
        <h4>You are not logged in</h4>
        <br/>
        <h4 style="color: wheat"><a href="{% url 'login' %}" style="color: darkseagreen">Log In</a> |
            <a href="{% url 'password_reset' %}" style="color: darkseagreen">Forgot your password?</a></h4>
    {% endif %}
{% endblock %}


