{% extends "base.html" %}

{% block head %}
    <title>All Students</title>
    {{ block.super }}
{% endblock %}
{% block content %}
    <table>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Age</th>
        <th>Phone number</th>
        <th>Group ID</th>
        <th>Group name</th>
        <th>Edit data</th>
        <th>Delete from base</th>
        {% for student in student_list %}
            <tr>
                <td>{{ student.id|safe }}</td>
                <td>{{ student.first_name }}</td>
                <td>{{ student.last_name }}</td>
                <td>{{ student.age }}</td>
                <td>{{ student.phone_number }}</td>
                <td>{{ student.in_group.id }}</td>
                <td>{{ student.in_group.group_name }}</td>
                <td>
                    <a href="{% url 'edit-student' student.id %}">
                        <button class="button button1">Edit</button>
                    </a>
                </td>
                <td>
                    <a href="{% url 'delete-student' student.id %}">
                        <button class="button button2">Delete</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table
{% endblock %}