{% extends "base.html" %}
{% block head %}
    {{ block.super }}
    <title>Currency list</title>
{% endblock %}
{% block content %}
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">Creation date</th>
                <th scope="col">Currency</th>
                <th scope="col">Source</th>
                <th scope="col">Buy price</th>
                <th scope="col">Sell price</th>
            </tr>
        </thead>
        {% for currency in currency_list %}
           <tbody>
               <tr>
                   <td>{{ currency.created_at|date:'d.m.Y - H:m:s'}}</td>
                   <td>{{ currency.currency|safe }}</td>
                   <td>{{ currency.source|safe }}</td>
                   <td>{{ currency.price_for_buy|safe }}</td>
                   <td>{{ currency.price_for_sell|safe }}</td>
               </tr>
           </tbody>
        {% endfor %}
    </table>
{% endblock %}